#container {
    width: 960px;
    margin: auto;
}

@media only screen and (max-width: 1200px) {
    #container {
        width: 480px;
        margin: auto;
    }
}

.game-item {
    width: 200px;
    height: 272px;
    margin: 20px 20px 20px 20px;
    float: left;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
}
